{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Reset Password{% endblock %}

{% block content %}

<div class="container">
  <div class="accounts-view">
    
    <div class="accounts-form">
      <div class="panel-heading">
        <h1>Password reset complete</h1>
      </div>
      <div class="panel-body">

        <p>Your password has been set.  You may go ahead and log in now.</p>

        <p><a href="/login/" class="btn btn-primary">Log in</a></p>
        
      </div>
    </div>
      
  </div>
</div>
{% endblock %}
