{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Reset Password{% endblock %}

{% block content %}

<div class="container">
  <div class="accounts-view">
    
    {% if validlink %}
    {% include "registration/parts/account_form.html" with title="Please enter a new password" button="Change my password" %}
    {% else %}
    
    <div class="accounts-form">
      <div class="panel-heading">
        <h1>Password reset unsuccessful</h1>
      </div>
      <div class="panel-body">

        <p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>
        
      </div>
    </div>
      
    {% endif %}
  </div>
</div>
{% endblock %}
