{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Confirm Your Email{% endblock %}

{% block content %}

<div class="container">
  <div class="accounts-view">

    <div class="form-inner panel">
      <div class="panel-heading">
        <h1>Please confirm your email address</h1>
      </div>
      <div class="panel-body">

        <p>Confirmation email has been sent to you. Please follow the link in email to confirm it.</p>

      </div>
    </div>
      
  </div>
</div>
{% endblock %}
